<div class="container mt-5">
  <div class="row text-center ">
    <div class="col-6 border shadow py-5">
      <h1 class="text-primary">TO-DO LIST</h1>
      <form>
        <div>
          <input class="form-control mx-auto w-50 text-center" required maxlength="20" type="text"
            placeholder="Enter Your Task" #task>
          <!-- <span *ngIf="task.invalid && task.touched">REQUIRED</span> -->
          <button class="mt-2 btn btn-success" (click)="addTask(task.value)">Add Task</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row mt-4">
    <table class="w-50 table text-center table-bordered">
      <thead class="bg-secondary h3 text-white text-center ">
        <tr>
          <th scope="col" class="h4">ID</th>
          <th scope="col" class="h4 px-5">TASK</th>
          <th id="actions"  scope="col" class="h4">ACTIONS</th>

        </tr>
      </thead>
      <tbody>
        <tr id="th" class="shadow" style="background-color:rgb(247, 251, 251);  color: black;" *ngFor="let i of list">
          <td style="text-align: center; vertical-align: middle;">
            <span class="h4">{{i.id}}</span>
          </td>
          <td style="text-align: center;vertical-align: middle;"><span class="h4">{{i.name}}</span></td>
          <td class="pt-3" style="text-align: center; vertical-align: middle ;">
            <button style="margin-right: 10px;" (click)="removeTask(i.id)"
              class="btn w-0 h5 btn-primary justify-content-end"><i class="fa-solid fa-user-pen"></i></button>
            <button style="margin-right:  auto;" (click)="removeTask(i.id)"
              class="btn w-0 h5 btn-danger justify-content-end"><i class="fa-solid fa-trash"></i></button>
          </td>


        </tr>
      </tbody>
    </table>
  </div>
</div>