<div class="container">
  <div class="row text-center ">
    <div class="col-6 border shadow py-3">
      <h1 class="text-primary">To-do List</h1>
      <div>
        <input class="form-control mx-auto w-50 text-center "  type="text" placeholder="Enter Your Task" #task>
        <button class="mt-2 btn btn-success" (click)="addTask(task.value)">Add Task</button>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <table>
      <thead class="bg-primary text-white">
        <tr>
         <th>
           task
         </th>
        </tr>
       </thead>
    </table>
  </div>
</div>

